.nav-bar {
  background: #d6d6d6;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  border-right: 1px dashed rgb(80, 79, 79);
    box-shadow: 
      0 0 1px 1px rgba(50, 230, 230, 0.61),
      7px 0 20px -2px black;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 40px;
      height: auto;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-family: Helvetica-Neue, sans-serif; // added here in place of inability to register global style change in src/index.css
      font-size: 22px;
      color: #4a4a45;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #2a2a27;
        font-weight: 700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 1.2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: "HOME";
        }
      }
    }

    a.about-link {
      &:after {
        content: "ABOUT";
      }
    }

    a.work-link {
      &:after {
        content: "WORK";
      }
    }

    a.contact-link {
      &:after {
        content: "SAY HI!";
      }
    }

    a.active {
      svg {
        color: #a7a7a0;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 22px;
        line-height: 18px;

        &:hover svg {
          color: #a7a7a0;
        }
      }
    }
  }
}
