$minWidth: 15rem;
$gridGap: 2rem;

.grid-container {
  font-family: Helvetica Neue, sans-serif;
  font-size: 20px;
  color: #a7a7a0;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 80%;
  max-height: 90%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minWidth, 1fr));
  grid-gap: $gridGap;

  & + .grid {
    margin-top: $gridGap;
  }

  span {
    text-align: center;
    padding: 20px 0;
    border: 1px dashed #b1b1aa;
    border-radius: 5px;
    background: rgba(119, 175, 171, 0.2);
    box-shadow: 
      0 0 1px 1px rgba(50, 230, 230, 0.61),
      0 3px 3px -2px rgb(64, 65, 65);
  }
}